#include *.rst
#recursive-include doc *
#recursive-include tests *
#recursive-include fastlmm *.py (this will only work for sdist, source distribution)
recursive-include fastlmm *.c *.h *.pyx *.pxd
recursive-include pysnptools *.c *.cpp *.h *.pyx *.pxd
include LICENSE.md
include AUTHORS.txt
include README.md